<form data-controller="search"
      data-reflex="submit->Search#search"
      data-value="<%= @query %>"
      id="search_form"
      data-controller="search"
>

  <input type="text" data-action="input->search#suggest"
         value="<%= @query %>"
         list="matches"
         placeholder="Search..."
         <%= "readonly" if @loading %>/>

  <datalist id="matches">
    <% @suggest_matches.each do |match| %>
      <option value="<%= match.searchable_type %> | <%= match.title %> | <%= match.searchable_id %>">
        <%= match.title %>
      </option>
    <% end %>
  </datalist>
  <% if @loading %>
    <pre>Searching</pre>
  <% end %>
</form>
<% if @artworks %>
  <% @artworks.each do |artwork| %>
    <p><%= artwork.id %>, <%= artwork.title %></p>
  <% end %>
<% end %>
