<%= render "/globals/explanation" do %>
  <p>
    Reason of this demo - demonstrations or realtime searching based on PostgreSQL sophsticated ranked search with partitions.
  </p>
  <p>
    This demo using <a target="_blank" href="https://github.com/MuseumofModernArt/collection">free artworks database</a> as seed source.
  </p>
  <p>
    <a target="_blank" href="https://github.com/MuseumofModernArt/collection">StimulusReflex</a> for real time based interactions based on Web Sockets and  <a href="https://docs.stimulusreflex.com/quickstart#look-mom-no-javascript">declarative StimulusReflex
    attributes</a>. <strong>No custom JavaScript was written for this demo.</strong> Based on <a target="_blank" href="https://expo.stimulusreflex.com/demos/tabular"> tabular example</a>
  </p>
  <p>
    Server search based on PostgreSQL ts vector fields, which are formed by trigger actions on model update.
  </p>

  <p>
    Just start typing in input box. <strong>What will happen:</strong>
    <ul>
      <li>Table will be updated by realtime search of Artworks by `title` and `accession number`</li>
      <li>In same time dropdown with 5 top results of each related to Artworks models will appear [Artist, Classification, Department]</li>
      <li>On click on dropdown Item Artworks will be filtered by  [Artist, Classification, Department], or in case or Artwork selection - Selected Artwork will show.</li>
    </ul>
  </p>

  <p>
    <strong>Example:</strong> Type 'Photography', choose department - Artworks in Photography will be shown.
  </p>

  <p>
    In browser Dev Tools you can check duration of reflex action from logs.
  </p>

<% end %>

<div id="search-example">
  <div class="form-row mb-4">
    <div class="col-6">

      <input type="text" placeholder="Search..." class="form-control form-control-lg" value="<%= @query %>"
             data-reflex="input->ArtworkReflex#search" data-reflex-root="#search-example">

      <% if @suggests.present? && @query.present? %>
        <div class="dropdown show" id="matches">
          <div class="dropdown-menu" style="display: block">
            <% @suggests.group_by { |s| s.searchable_type }.each do |type, results| %>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header"><%= type %></h6>
              <div class="dropdown-divider"></div>
              <% results.each do |match| %>
                <a class="dropdown-item" href="#" data-reflex="click->ArtworkReflex#search"
                   data-suggest-value="<%= match.title %>"
                   data-searchable-id="<%= match.searchable_id %>"
                   data-searchable-type="<%= match.searchable_type %>"> <%= match.title %></a>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="search-results">
    <p class="lead"><%= @pagy.count %> results found</p>
    <% if @pagy.count > 0 %>
      <table class="table table-striped table-bordered">
        <thead class="bg-primary">
        <tr>
          <th style="width:15%">
            <%= link_to "Accession number #{arrow :accession_number}", "#", class: column_css(:accession_number),
                        data: {reflex: "click->ArtworkReflex#order", column_name: :accession_number, direction: direction} %>
          </th>
          <th style="width:20%">
            <%= link_to "Title #{arrow :title}", "#", class: column_css(:title),
                        data: {reflex: "click->ArtworkReflex#order", column_name: :title, direction: direction} %>
          </th>
          <th style="width:5%">
            <%= link_to "Date #{arrow :date}", "#", class: column_css(:date),
                        data: {reflex: "click->ArtworkReflex#order", column_name: :date, direction: direction} %>
          </th>
          <th style="width:20%">
            <%= link_to "Artist #{arrow :artist}", "#", class: column_css(:artist),
                        data: {reflex: "click->ArtworkReflex#order", column_name: :artist, direction: direction} %>
          </th>
          <th style="width:20%">
            <%= link_to "Classification #{arrow :classification}", "#", class: column_css(:classification),
                        data: {reflex: "click->ArtworkReflex#order", column_name: :classification, direction: direction} %>
          </th>
          <th style="width:20%">
            <%= link_to "Department #{arrow :department}", "#", class: column_css(:department),
                        data: {reflex: "click->ArtworkReflex#order", column_name: :department, direction: direction} %>
          </th>
        </tr>
        </thead>

        <tbody>
        <% @artworks.each do |artwork| %>
          <tr>
            <td><%= artwork.accession_number %></td>
            <td><%= artwork.title %></td>
            <td><%= artwork.date %></td>
            <td><%= artwork.artist.display_name %></td>
            <td><%= artwork.classification.title %></td>
            <td><%= artwork.department.title %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <%= render "/globals/paginator" if @pagy.pages > 1 %>
    <% end %>
  </div>
</div>
<%= render "/globals/explanation" do %>
  <p>
    <a href="https://https://expo.stimulusreflex.com/demos/tabular">Based</a> on sophsticated management of tabular data using
    <a href="https://docs.stimulusreflex.com/quickstart#look-mom-no-javascript">declarative StimulusReflex
      attributes</a>.
    <strong>No custom JavaScript was written for this demo.</strong>
  </p>
  <p>
  <ul>
    <li>No need for expensive third party libraries.</li>
    <li>No need to send heavy JavaScript payloads to the client.</li>
    <li>No need to build an API layer that returns JSON.</li>
    <li><strong>A little server-side HTML rendering and a <code>Reflex</code> is all it takes.</strong></li>
  </ul>
  </p>

<% end %>


